* {
	box-sizing: border-box;
	border-radius: 10px;
}

body {
	margin: 0;
	padding: 50px;
	background-color: grey;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}

header {
	padding: 10px;
	background-image: url(../imagenes/header.png);
	background-repeat: no-repeat;
	background-color: rgb(100, 63, 7);
	background-size: cover;
	text-align: center;
	font-size: 1.8rem;
	border: 10px solid black;
}

header h1 {
	text-shadow: 1px 1px 68px black;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 10px;
}

header h3 {
	font-style: italic;
	font-size: 1.2rem;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 5px;
}

nav {
	display: flex;
	flex-wrap: wrap;
	margin-top: 2px;
	padding: 10px 20px;
	justify-content: center;
	background-color: rgb(94, 63, 6);
	gap: 10px;
}

nav a {
	padding: 10px 20px;
	text-decoration: none;
	font-size: 1.3em;
	color: white;
}

nav a:hover {
	background-color: rgb(221, 150, 19);
	text-decoration: underline;
	transition: 0.3s;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.row img {
	width: 400px;
}

aside {
	display: flex;
	flex-direction: column;
	flex: 1 1 70%;
	margin-top: 2px;
	background-color: rgb(85, 143, 62);
	padding: 20px;
	text-align: justify;
}

aside p {
	width: 100%;
}

aside iframe {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: none;
	width: 100%;
	height: 600px;
	margin-bottom: 10px;
}

aside h2,
.multimediabox h2 {
	background-color: rgb(112, 77, 11);
	padding: 6px;
}

.historia {
	width: 100%;
}

.historia h3, 
.turismo h3, 
.tradiciones h3 {
	text-decoration: underline;
}

.tradiciones_pic {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.tradiciones_pic img {
	width: 100%;
}

section {
	flex: 1 1 23%;
	margin: 2px;
	background-color: rgb(85, 143, 62);
	border: 0.2px solid rgb(112, 77, 11);
	padding: 20px;
}

section h3 {
	background-color: rgb(112, 77, 11);
	padding: 5px;
	text-align: center;
}

.links a {
	text-decoration: none;
	color: white;
}

.links a:hover {
	background-color: rgb(221, 150, 19);
	text-decoration: underline;
	padding: px;
}

.statistics {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.contenedor {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.contenedor li {
	margin-top: 10px;
}

.contenedor a {
	text-decoration: none;
	
}
  
.contenedor img {
	width: 80%;
}

/* BLOQUE DE ACERCA DEL AUTOR */

.autor {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.autor img {
	width: 70%;
}

.rss {
	background-color: white;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 15px;
	text-decoration: none;
	border: 2px solid white;
}

.rss a {
	width: 15%;
}

/* CIERRE DE BLOQUE DE ACERCA DEL AUTOR */

.datasource {
	text-align: center;
}

.input-group {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	padding: 20px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 10px;
	margin-bottom: 20px;
	width: 70%;
}

.input-group input,
.input-group select,
.input-group textarea {
	background: rgb(147, 238, 147);
	padding: 9px;
	border: none;
	outline: none;
	border-bottom: 1px solid black;
	width: 100%;
}

.motive-selection {
	display: flex;
	justify-content: center;
	gap: 15px;
	margin: 10px 0;
	align-items: center;
}

.motive-selection input {
	margin-left: 1px;
	padding: 4px;
}


.button-container input {
	background-color: rgb(34, 66, 34);
	padding: 5px;
	font-size: 1rem;
	font-weight: bold;
	color: white;
	border: 0;
	width: auto;
	border-radius: 5px;
	cursor: pointer;
}

.btn:hover {
	background-color: rgb(221, 150, 19);
	text-decoration: underline;
	color: white;
	transition: 0.3s;
}

.button-container {
    display: flex;
	gap: 12px;
    justify-content: center;
    margin-top: 20px;
}

.motive-selection input {
	width: auto;
}

.multimediabox {
	background-color: rgb(85, 143, 62);
	padding: 20px;
}

.iframevideo {
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: none;
}

.iframevideo iframe {
	width: 80%;
	height: 700px;
	margin-bottom: 10px;
}

.gallery {
	padding: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.gallery img {
	width: 200px;
	height: 140px;
}

.gallery img:hover {
	border: 3px solid rgb(221, 150, 19);
}

footer {
	padding: 12px;
	margin-top: 2px;
	text-align: center;
	background-color: rgb(112, 77, 11);
	display: flex;
    align-items: center;
    justify-content: center;
}

footer img {
	border-radius: 0;
	width: 70px;
	margin-left: 10px;
}

@media screen and (max-width: 768px) {

	header {
		font-size: 1.2rem;
		padding: 5px;
	}

	nav {
		flex-direction: column;
	}

	nav a {
		font-size: 0.9rem;
		padding: 10px 15px;
	}

	.row, .gallery {
		flex-direction: column;
	}

	.input-group {
		padding: 10px;
	}

	.iframevideo iframe {
		height: 200px;
	}
}

@media screen and (max-width: 470px) {
    .input-group {
        padding: 10px;
        margin: 0 auto;
        width: 90%;
    }

    .input-group input,
    .input-group select,
    .input-group textarea {
        font-size: 0.9rem;
        padding: 8px;
    }

    .motive-selection {
        flex-direction: column;
        gap: 8px;
    }

    .button-container {
        flex-direction: column;
        gap: 10px;
    }

}